.searchInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 6px;
  font-weight: lighter;
  /*font-size: 12px;*/
  background: transparent;
}

.searchInput:focus {
  border-width: 1px;
  padding-bottom: 6px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
